{% extends 'base.html.twig' %}

{% block title %}CountrySong index{% endblock %}

{% block body %}
    <h1>CountrySong index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country_song in country_songs %}
            <tr>
                <td>{{ country_song.id }}</td>
                <td>{{ country_song.title }}</td>
                <td>{{ country_song.createdAt ? country_song.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('country_song_show', {'id': country_song.id}) }}">show</a>
                    <a href="{{ path('country_song_edit', {'id': country_song.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('country_song_new') }}">Create new</a>
{% endblock %}